/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\
for details on configuring this project to bundle and minify static web assets. */


/* ------------------------------------------ */
/* BASIC SETUP */
/* ------------------------------------------ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', 'sans-serif';
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility; /* Makes font rendering in a perfect way */
    overflow-x: hidden;
}

/* ------------------------------------------ */
/* FONTS */
/* ------------------------------------------ */

h1 {
    color: #fff;
    font-size: 40px;
}

h2 {
    color: #000;
    font-size: 36px;
}

/* ------------------------------------------ */
/* CONTENT */
/* ------------------------------------------ */
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/carousel.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    position: relative;
}

/* Main navigation */
.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
    margin-right: 50px;
}

.main-nav li {
    display: inline-block; /* side-by-side */
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}


.catchPhrase {
    position: absolute;
    top: 40%;
    left: 20%;
}


/* Section - About */

.aboutContainer {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 25px;
    text-align: center;
}

.aboutTextBox h2 {
    padding-bottom: 17px;
}

.aboutTextBox p {
    margin-top: 8px;
}


/* Section - Tutors */

.tutorContainer {
    margin-top: 50px;
    padding-top: 25px;
}

.tutorTitle {
    text-align: center;
}

.tutors {
    margin: 40px 100px;
    align-content: center;
}

.tutorss:hover {
    opacity: 0.25;
}


.tutor {
    display: inline-block;
    margin-left: 80px;
    margin-bottom: 80px
}

.imageContainer {
    position: relative;
}


.btn1 {
    display: none;
    font-size: 25px;
    background-color: #1e1e1e;
    color: white;
    padding:7px;
    border: none;
    width: 30%;
    border-radius: 4px;
    top: 45%;
    left: 35%;
    position: absolute;
}

.tutorss:hover + .btn1, .btn1:hover {
    display: inline-block;
    cursor:pointer
}

.tutorName {
    text-align: center;
    margin-top: 5px;
    font-size: 24px;
}

.tutorDescription {
    margin-top: 10px;
}

.tutorPrice {
    text-align: right;
    color: blue;
}

.starContainer {
    text-align: center;
}


/* Section - Contact */

.contactContainer {
    background-color: black;
    opacity: 0.93;
    padding: 3%;
    margin-top: 10%;
    font-family: "Roboto", sans-serif;
    text-align:center;
}

form {
    box-sizing: border-box;
    width: 100%;
    margin: 10px;
    color: white;
}

input, textarea {
    font-family: "Roboto", sans-serif;
    border-radius: 8px;
    width: 40%;
    padding: 18px;
    margin: 15px;
    border: none;
    position: relative;
    background-color: #1e1e1e;
    font-size: 15px;
    color: white;
}

.btn {
    font-size: 25px;
    position: relative;
    background-color: #1e1e1e;
    width: 10%;
    color: white;
    margin: 10px;
    border: none;
    border-radius: 4px;
    padding: 10px;
}

.btn:hover{
    background-color:dodgerblue;
    cursor:pointer;
}
