/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\
for details on configuring this project to bundle and minify static web assets. */


/* ------------------------------------------ */
/* BASIC SETUP */
/* ------------------------------------------ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', 'sans-serif';
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility; /* Makes font rendering in a perfect way */
    overflow-x: hidden;
}

/* ------------------------------------------ */
/* FONTS */
/* ------------------------------------------ */

h1 {
    color: #fff;
    font-size: 40px;
}

h2 {
    color: #000;
    font-size: 36px;
}

/* ------------------------------------------ */
/* HEADER */
/* ------------------------------------------ */
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/carousel.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    position: relative;
}

/* Main navigation */
.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
    margin-right: 50px;
}

.main-nav li {
    display: inline-block; /* side-by-side */
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}


.catchPhrase {
    position: absolute;
    top: 40%;
    left: 20%;
}


/* Section - About */

.aboutContainer {
    margin-top: 40px;
    text-align: center;
}

.aboutTextBox {
    margin: 0px 50px;
}

/* Section - Title */

.tutorContainer {
    margin-top: 50px;
}

.tutorTitle {
    text-align: center;
}
